<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Add Player</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>

	<div class="container">
		<h1 class="text-center">Add player</h1>
		<div class="row justify-content-center">
			<div class="col-md-6">
				<form th:object="${player}" th:action="@{save}" action="#" method="post">

					<div class="form-group">
						<label for="title">Name</label>
						<input type="text" id="name" th:field="*{name}" class="form-control" />
					</div>

					<div class="form-group">
						<label for="number">Number</label>
						<input type="number" id="number" th:field="*{number}" class="form-control" />
					</div>

					<div class="form-group">
						<label for="goals">Goals</label>
						<input type="number" id="goals" th:field="*{goals}" class="form-control" />
					</div>

					<div class="form-group">
						<label for="assists">Assists</label>
						<input type="number" id="assists" th:field="*{assists}" class="form-control" />
					</div>

					<div class="form-group">
						<label for="positionlist">Position</label>
						<select id="positionlist" th:field="*{position}" class="form-control">
							<option value="1">Forwards</option>
							<option value="2">Defensemen</option>
							<option value="3">Goalies</option>
						</select>
					</div>

					<div class="form-group text-center">
						<input type="submit" class="btn btn-success" value="Save" />
						<a href="/playerlist" class="btn btn-secondary">Back</a>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>

</html>